.news-detail-card {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


mat-card-content {
    padding: 20px;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

mat-divider {
    margin: 10px 0;
}

a {
    text-decoration: none;
}